.bgplayjs{
    padding:0;
    position:relative;
    margin-top: -10px; /*Don't touch the margin parameters, they are needed in order to check if the css file has been loaded*/
    margin-right: 14px;
    margin-left: 5px;
    margin-bottom: 0px;
    text-align: center;
    font-family:Verdana, sans-serif;
    font-size:12px;
}

.bgplayjs input[type=text]{
    height:20px;
    font-weight:bold;
    font-size:14px;
    color:#1B91E0;
    border:1px solid #C0C0C0;
    background:#F5FCFF;
}

.bgplayjs input[type=text]:hover{
    background:#FFFFFF;
}

.bgplayjs label{
    font-size:12px;
    font-weight:bold;
    text-shadow: #6374AB 2px 1px 2px;
}

.bgplayjs .bgplayMainDiv{
    width:100%;
}

.bgplayjs .bgplayInfoDiv{
    text-align: left;
    height:85px;
    padding: 5px 5px 5px 15px;
    line-height: 12px;
    overflow:hidden;
    font-size:10px;
    margin-bottom:2px;
    margin-right:3px;
    margin-top:20px;
    border:1px solid #C0C0C0;
    background:#FFFFFF;
    border-radius: 7px;
    position:relative;
}

.bgplayjs .bgplayLegendDiv{
    text-align: left;
    line-height: 12px;
    overflow:hidden;
    font-size:10px;
    margin-bottom:2px;
    margin-right:3px;
    border:1px solid #C0C0C0;
    background:#FFFFFF;
    border-radius: 7px;
    position:relative;
    font-size:10px;
    font-weight:bold;
}

.bgplayjs .bgplayInfoDiv > div{
    text-align: left;
}

.bgplayjs .bgplayInfoDiv > .more{
    width:100px;
    margin-left:20px;
    height:20px;
    text-transform: uppercase;
    background: url(../html/img/bgplay.png) left no-repeat;
    padding-left:18px;
    padding-top:7px;
    font-size:10px;
    z-index:100;
}

.bgplayjs .bgplayGraphDiv{
    margin: 0px 3px 0px 0px;

    height:100%;
    padding:5px;
    border:1px solid #C0C0C0;
    background:#FFFFFF;
    border-radius: 7px;
    position:relative;
}

.bgplayjs .bgplayCenterDiv{
}

.bgplayjs .bgplayNodeContainer{
    width:100%;
    height:100%;
    cursor:move;
}

.bgplayjs .bgplayTimelineDiv{
    height:130px;
    margin-top: 15px;
    margin-right: 3px;
    margin-left: 0px;
    text-align: center;
    background:#FFFFFF;
    border:1px solid #C0C0C0;
    border-radius: 7px;
}

.bgplayjs .bgplayTimelineControlDiv{
    position:relative;
    margin: auto auto 5px;
    height:65px;
    overflow:hidden;
}

.bgplayjs .bgplayTimelineControlCanvas{
    cursor:pointer;
    margin:auto;
}

.bgplayjs .bgplayNodeContainer > div{
    border:1px solid #000000;
    height:40px;
    width:500px;
}

.bgplayjs .bgplayControlAnimationStartPause{
    width:32px;
    height:32px;
    float:left;
}

.bgplayjs .bgplayControlAnimationStop{
    width:32px;
    height:32px;
    float:left;
}
.bgplayjs .bgplayControlAnimationNext{
    width:32px;
    height:32px;
    float:left;
}
.bgplayjs .bgplayControlAnimationPrev{
    width:32px;
    height:32px;
    float:left;
}

.bgplayjs .bgplayControlAnimationDiv{
    width:88%;
    margin-left: 10px;
    margin-top: 2px;
    height: 40px;
}

.bgplayControlAnimationDiv img{
    cursor:pointer;
}

.bgplayjs .bgplayTitle{
    font-size:11px;
    font-weight: bold;
    color:#C0C0C0;
    position:absolute;
    left:3px;
    top:20px;
    z-index:2;
}

.bgplayjs .bgplayTimelineControlCanvasSlider{
    border:0;
    margin:0;
    padding:0;
    position:absolute;
    cursor: ew-resize;
    width:16px;
    height:16px;
}

.bgplayjs .bgplayTimelineControlCanvasSliderLeft{
    left:-8px;  /* width/2 */
    background:url('../html/img/leftSlider.png') no-repeat;
}

.bgplayjs .bgplayTimelineControlCanvasSliderRight{
    right:-8px;  /* width/2 */
    background:url(../html/img/rightSlider.png) no-repeat;
}

.bgplayjs .bgplayTimelineSelectionWaitIco{
    display:none;
    margin:auto;
}

.bgplayjs .bgplayTimelineSelectionCanvas{
    cursor:pointer;
}

.bgplayjs .bgplayTimelineSelectionDiv{
    overflow:hidden;
    margin:auto;
    position:relative;
}

.bgplayLoadingInformation{
    width:220px;
    margin:auto;
    margin-top: 30px;
    background:#FFFFFF url(../html/img/loading.gif) top no-repeat;
}

.bgplayLoadingInformation .loadingLog{
    padding-top:20px;
}

.bgplayjs .bgplayTimelineSelectionWarpIco{
    display:none;
}

.bgplayjs .bgplayTimelineSelectionNext{
    margin-top:-45px;
    float:right;
    display:none;
}

.bgplayjs .bgplayTimelineSelectionPrev{
    margin-top:-45px;
    float:left;
    display:none;
}

.bgplayControlPrefixDiv{
    width:310px;
    margin:auto;
    text-align: left;
}

.bgplayjs .bgplayControlPrefixDelete{
    float:right;
    margin-top:4px;
    margin-left:2px;
}

.bgplayControlPrefixDiv input[type=text]{
    width:270px; /*320px for ipv6 prefix*/
    margin-bottom:5px;
    float:left;
}

.bgplayjs .bgplayControlPrefixMore{
    cursor:pointer;
    clear:both;
    float:right;
}

.bgplayjs .bgplayControllerDiv{
    position:absolute;
    clear:both;
    width:170px;
    height:36px;
    right:3px;
    z-index:1006;
    top:47px;
    background:#EDF6FA;
    border:1px solid #C0C0C0;
    border-right:0;
    border-radius: 20px 0px 0px 20px;
    /*box-shadow: 5px 5px 5px #888888;*/
}

.bgplayjs .bgplayControllerDiv:hover{
    background:#D2EEFA;
}

.bgplayjs .bgplayControlPanelDivFlagIco{
    position:absolute;
    right:15px;
    top:2px;
    cursor:pointer;
}

.bgplayjs .bgplayControlApplyButton{
    position:absolute;
    right:20px;
    bottom:10px;
    border:0;
    width:48px;
    height:48px;
    cursor:pointer;
    background:url(../html/img/apply.png) no-repeat;
}

.bgplayjs .bgplayControlDiscardButton{
    position:absolute;
    right:78px;
    bottom:10px;
    border:0;
    width:48px;
    height:48px;
    cursor:pointer;
    background:url(../html/img/discard.png) no-repeat;
}

.bgplayjs .bgplayjsButtonsDiv .button{
    margin: 5px;
}

.bgplayjs .bgplayjsButtonsDiv .popup{
    border-radius: 7px;
    border: 1px solid #C0C0C0;
    padding: 10px;
    background: #FFFFFF;
}

.bgplayjs .bgplayjsButtonsDiv .left{
    text-align: left;
    margin: 5px;
}

.bgplayjs .bgplayControlPanelDivComplete{
    display:none;
    z-index:1006;
}

.bgplayjs .bgplayControlPanelDivComplete > div{
    width:95%;
    clear:both;
    margin: auto auto 10px;
    text-align:left;
}

.bgplayjs .bgplayStarttimestampPicker{
    width:150px;
    margin-top:10px;
}

.bgplayjs .bgplayEndtimestampPicker{
    width:150px;
    margin-top:10px;
}

.bgplayjs .bgplayRrcsSelect{
    width:60px;
    height:25px;
    float:left;
}

.bgplayjs .bgplaySuppressReannounceDiv{
    position:absolute;
    left:5px;
    bottom:40px;
}

.bgplayjs .bgplayTimelineSelectionSliderLeft{
    z-index:2;
    left:0;
    position:absolute;
    display: none;
}

.bgplayjs .bgplayTimelineSelectionSliderRight{
    z-index:2;
    right:0;
    position:absolute;
    display: none;
}

.bgplayjs .bgplayGDBPlotDiv{
    display:none;
}

.bgplayjs .bgplayTimelineControlCanvasText{
    float:left;
    margin: 0 0 0 10px;
    height:15px;
    overflow:hidden;
    font-size:10px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    color:#000000;
}

.bgplayjs .bgplayTimelineControlCanvasDate{
    float:left;
    height:15px;
    overflow:hidden;
    color:#F70000;
    margin: 0 0 0 10px;
    font-size:10px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
}

.bgplayjs .touchGraphEvents{
    position:absolute;
    z-index:100;
    top:0;
    left:0;
    border:0;
}

/* this two lines of code disable the annoying skype click to call plug-in */
.bgplayjs span.skype_pnh_container {display:none !important;}
.bgplayjs span.skype_pnh_print_container {display:inline !important;}

.bgplayjs .bgplayScreenshot{
    width:36px;
    height:35px;
    background: url('../html/img/screenshot.png') no-repeat;
    position:absolute;
    right:40px;
    top:4px;
}

.bgplayjs .bgplayScreenshot:hover{
    background: url('../html/img/screenshot_hover.png') no-repeat;
}

.bgplayjs .bgplayFullscreen{
    width:36px;
    height:35px;
    background: url('../html/img/fullscreen.png') no-repeat;
    position:absolute;
    right:76px;
    top:4px;
}

.bgplayjs .bgplayFullscreen:hover{
    background: url('../html/img/fullscreen_hover.png') no-repeat;
}

.bgplayjsInfoAlert, .bgplayjsSuccessAlert, .bgplayjsWarningAlert, .bgplayjsErrorAlert, .bgplayjsValidationAlert {
    z-index:5026;
    border: 1px solid;
    padding:15px 10px 15px 50px;
    background: no-repeat 10px center;
    font-size:12px;
    font-weight:bold;
    display:none;
    position:absolute;
    top: 30%;
    left: 50%;
}

.bgplayjsInfoAlert {
    color: #00529B;
    background: #BDE5F8 url(../html/img/infoAlert.png) no-repeat;
}

.bgplayjsSuccessAlert {
    color: #4F8A10;
    background: #DFF2BF url(../html/img/successAlert.png) no-repeat;
}
.bgplayjsWarningAlert {
    color: #9F6000;
    background: #FEEFB3 url(../html/img/attentionAlert.png) no-repeat;
}

.bgplayjsErrorAlert {
    color: #D8000C;
    background: #FFBABA url(../html/img/errorAlert.png) no-repeat;
}

.bgplayjsValidationAlert {
    color: #D63301;
    background: #FFCCBA url(../html/img/validationAlert.png) no-repeat;
}

.bgplayControlAnimationRepeat{
    background: url(../html/img/repeatEvent.png) no-repeat;
    width:32px;
    height:32px;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.unselectable *{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.json_nodes textarea{
    width: 95%;
    height: 120px;
    margin: auto;
}

.json_nodes input[type=button]{
    width: 55px;
}

.json_nodes .nodePositionButtons{
    width: 100%;
    text-align: right;
}

.bgplayLegendDiv > div{
    margin:auto;
    width:540px;
}

.bgplayLegendDiv .bgplayLegendItem{
    margin:3px;
    float:left;
    text-align:center;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { background:transparent;margin-bottom: 8px; font-size:12px;}
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 14px; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

/* Tiny Scrollbar */
div.bgplayControlPrefixDiv div.viewport { width: 290px; height: 75px; overflow: hidden; position: relative; }
div.bgplayControlPrefixDiv div.overview { width:290px; list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
div.bgplayControlPrefixDiv .scrollbar{ background: transparent url('../html/img/bg-scrollbar-track-y.png') no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 15px; }
div.bgplayControlPrefixDiv .track { background: transparent url('../html/img/bg-scrollbar-trackend-y.png') no-repeat 0 100%; height: 100%; width:13px; position: relative; padding: 0 1px; }
div.bgplayControlPrefixDiv .thumb { background: transparent url('../html/img/bg-scrollbar-thumb-y.png') no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
div.bgplayControlPrefixDiv .thumb .end { background: transparent url('../html/img/bg-scrollbar-thumb-y.png') no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
div.bgplayControlPrefixDiv .disable { display: none; }
div.bgplayControlPrefixDiv .noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
