html,body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    text-align: center;
    font-family:Verdana, sans-serif;
    font-size:13px;
    background:#F7FDFF;
}

#bgplayjs{
    padding:0;
    margin:0;
    width:100%;
    height:100%;
}

input[type=text]{
    height:20px;
    font-weight:bold;
    font-size:14px;
    color:#1B91E0;
    border:1px dashed #2784C2;
    background:#F5FCFF;
}

input[type=text]:hover{
    background:#FFFFFF;
}

label{
    font-size:12px;
    font-weight:bold;
    text-shadow: #6374AB 2px 1px 2px;
}

.bgplayMainDiv{
    width:100%;
}

#bgplayInfoDiv{
    text-align: left;
    padding: 5px 5px 5px 60px;
    height:75px;
    overflow:hidden;
    font-size:12px;
    background: url(lib/img/bgplay/info.png) left no-repeat;
}

#bgplayInfoDiv > .bgplayTitle{
    display:none;
}

#bgplayInfoDiv > div{
    text-align: left;
}
#bgplayInfoDiv > .more{
    width:100px;
    margin-left:20px;
    height:20px;
    text-transform: uppercase;
    background: url(lib/img/bgplay/expand.png) left no-repeat;
    padding-left:18px;
    padding-top:7px;
    font-size:10px;
    z-index:100;
}

#bgplayGraphDiv{
    width:100%;
    height:100%;
    margin:0;
    padding:5px;
    border:1px dashed #2784C2;
    background:#FFFFFF;
    border-radius: 7px;
    position:relative;
}

#bgplayCenterDiv{
    width:100%;
}

#bgplayNodeContainer{
    width:100%;
    height:100%;
    cursor:move;
}

#bgplayTimelineDiv{
    width:90%;
    height:130px;
    margin: 20px auto auto;
    text-align: center;
    background:#FFFFFF;
    border:1px dashed #2784C2;
    border-radius: 7px;
}

#bgplayTimelineControlDiv{
    position:relative;
    margin: auto auto 5px;
    height:60px;
    overflow:hidden;
}
#bgplayTimelineControlCanvas{
    cursor:pointer;
    margin:auto;
}

#bgplayNodeContainer > div{
    border:1px solid #000000;
    height:40px;
    width:500px;
}

#bgplayControlAnimationStartPause{
    width:32px;
    height:32px;
    float:left;
}

#bgplayControlAnimationStop{
    width:32px;
    height:32px;
    float:left;
}
#bgplayControlAnimationNext{
    width:32px;
    height:32px;
    float:left;
}
#bgplayControlAnimationPrev{
    width:32px;
    height:32px;
    float:left;
}

#bgplayControlAnimationDiv{
    width:88%;
    margin-left:10px;
    margin-top:13px;
    height:40px;
}

.bgplayTitle{
    font-size:14px;
    font-weight: bold;
    color:#2784C2;
}

.bgplayTimelineControlCanvasSlider{
    border:0;
    margin:0;
    padding:0;
    position:absolute;
    cursor: w-resize;
    width:16px;
    height:16px;
}

#bgplayTimelineControlCanvasSliderLeft{
    left:-8px;  /* width/2 */
    background:url(lib/img/bgplay/leftSlider.png) no-repeat;
}

#bgplayTimelineControlCanvasSliderRight{
    right:-8px;  /* width/2 */
    background:url(lib/img/bgplay/rightSlider.png) no-repeat;
}

#bgplayTimelineSelectionWaitIco{
    display:none;
    margin:auto;
}

#bgplayTimelineSelectionCanvas{
    cursor:pointer;
}

#bgplayTimelineSelectionDiv{
    overflow:hidden;
    margin:auto;
    position:relative;
}

#bgplayTimelineSelectionWarpIco{
    display:none;
}

#bgplayTimelineSelectionNext{
    margin-top:-45px;
    float:right;
    display:none;
}

#bgplayTimelineSelectionPrev{
    margin-top:-45px;
    float:left;
    display:none;
}

#bgplayControlPrefixDiv{
    width:365px;
    margin:auto;
    text-align: left;
}

.bgplayControlPrefixDelete{
    float:right;
    margin-top:4px;
    margin-left:2px;
}

#bgplayControlPrefixDiv input[type=text]{
    width:320px; /*320px for ipv6 prefix*/
    margin-bottom:5px;
    float:left;
}

#bgplayControlPrefixValue{
    width:345px;
}

#bgplayControlPrefixMore{
    cursor:pointer;
    clear:both;
    float:right;
}

#bgplayControllerDiv{
    position:fixed;
    width:200px;
    height:60px;
    right:0;
    z-index:5;
    top:7px;
    background:#EDF6FA;
    border:1px dashed #2784C2;
    border-right:0;
    border-radius: 20px 0px 0px 20px;
    box-shadow: 5px 5px 5px #888888;
}

#bgplayControllerDiv:hover{
    background:#D2EEFA;
}

#bgplayControlPanelDivFlagIco{
    position:absolute;
    right:15px;
    top:12px;
    cursor:pointer;
}

#bgplayControlApplyButton{
    position:absolute;
    right:20px;
    bottom:10px;
    border:0;
    width:48px;
    height:48px;
    cursor:pointer;
    background:url(lib/img/bgplay/apply.png) no-repeat;
}

#bgplayControlDiscardButton{
    position:absolute;
    right:78px;
    bottom:10px;
    border:0;
    width:48px;
    height:48px;
    cursor:pointer;
    background:url(lib/img/bgplay/discard.png) no-repeat;
}

#bgplayControlPanelDivComplete{
    display:none;
}

#bgplayControlPanelDivComplete > div{
    width:365px;
    clear:both;
    margin: auto auto 10px;
    text-align:left;
}

#bgplayStarttimestampPicker{
    width:150px;
    margin-top:10px;
}

#bgplayEndtimestampPicker{
    width:150px;
    margin-top:10px;
}

.bgplayRrcsSelect{
    width:60px;
    height:25px;
    float:left;
}

#bgplayTimelineSelectionSliderLeft{
    z-index:10;
    left:0;
    position:absolute;
    display: none;
}

#bgplayTimelineSelectionSliderRight{
    z-index:10;
    right:0;
    position:absolute;
    display: none;
}

#bgplayGDBPlotDiv{
    display:none;
}

.bgplaySelectionTimelineBrick{
    width:20px;
    height:100%;
    border:0;
    margin-right:40px;
    padding:0;
    float:left;
    overflow:hidden;
}

.bgplaySelectionTimelineSubBrick{
    height:100%;
    border:0;
    margin-right:1px;
    padding:0;
    float:left;
}

#bgplayTimelineControlCanvasText{
    float:left;
    margin: 0 0 0 10px;
    height:13px;
    overflow:hidden;
    font-size:10px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    color:#000000;
}

#bgplayTimelineControlCanvasDate{
    float:left;
    height:13px;
    overflow:hidden;
    color:#F70000;
    margin: 0 0 0 10px;
    font-size:10px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
}

#touchGraphEvents{
    position:absolute;
    z-index:100;
    top:0;
    left:0;
    border:0;
}

/* this two lines of code disable thead skype click to call plug-in */
span.skype_pnh_container {display:none !important;}
span.skype_pnh_print_container {display:inline !important;}

/*
* I think is useless
*/
.draggable{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}