.bgplayjs{
    padding:0;
    margin-top: -10px;
    margin-right: -10px;
    margin-left: -10px;
    margin-bottom: -10px;
    text-align: center;
    font-family:Verdana, sans-serif;
    font-size:12px;
}

.bgplayjs input[type=text]{
    height:20px;
    font-weight:bold;
    font-size:14px;
    color:#1B91E0;
    border:1px solid #C0C0C0;
    background:#F5FCFF;
}

.bgplayjs input[type=text]:hover{
    background:#FFFFFF;
}

.bgplayjs label{
    font-size:12px;
    font-weight:bold;
    text-shadow: #6374AB 2px 1px 2px;
}

.bgplayjs .bgplayMainDiv{
    width:100%;
}

.bgplayjs .bgplayInfoDiv{
    text-align: left;
    height:85px;
    padding: 5px 5px 5px 15px;
    line-height: 12px;
    overflow:hidden;
    font-size:10px;
    margin-bottom:5px;
    margin-right:3px;
    margin-top:20px;
    border:1px solid #C0C0C0;
    background:#FFFFFF;
    border-radius: 7px;
    position:relative;
}

.bgplayjs .bgplayInfoDiv > div{
    text-align: left;
}
.bgplayjs .bgplayInfoDiv > .more{
    width:100px;
    margin-left:20px;
    height:20px;
    text-transform: uppercase;
    background: url('lib/img/bgplay/bgplay.png') left no-repeat;
    padding-left:18px;
    padding-top:7px;
    font-size:10px;
    z-index:100;
}

.bgplayjs .bgplayGraphDiv{
    width:100%;
    height:100%;
    margin:0;
    padding:5px;
    border:1px solid #C0C0C0;
    background:#FFFFFF;
    border-radius: 7px;
    position:relative;
}

.bgplayjs .bgplayCenterDiv{
    width:100%;
}

.bgplayjs .bgplayNodeContainer{
    width:100%;
    height:100%;
    cursor:move;
}

.bgplayjs .bgplayTimelineDiv{
    width:100%;
    height:130px;
    margin:auto;
    margin-top: 20px;
    text-align: center;
    background:#FFFFFF;
    border:1px solid #C0C0C0;
    border-radius: 7px;
}

.bgplayjs .bgplayTimelineControlDiv{
    position:relative;
    margin: auto auto 5px;
    height:65px;
    overflow:hidden;
}
.bgplayjs .bgplayTimelineControlCanvas{
    cursor:pointer;
    margin:auto;
}

.bgplayjs .bgplayNodeContainer > div{
    border:1px solid #000000;
    height:40px;
    width:500px;
}

.bgplayjs .bgplayControlAnimationStartPause{
    width:32px;
    height:32px;
    float:left;
}

.bgplayjs .bgplayControlAnimationStop{
    width:32px;
    height:32px;
    float:left;
}
.bgplayjs .bgplayControlAnimationNext{
    width:32px;
    height:32px;
    float:left;
}
.bgplayjs .bgplayControlAnimationPrev{
    width:32px;
    height:32px;
    float:left;
}

.bgplayjs .bgplayControlAnimationDiv{
    width:88%;
    margin-left:10px;
    margin-top:2px;
    height:40px;
}

.bgplayjs .bgplayTitle{
    font-size:11px;
    font-weight: bold;
    color:#C0C0C0;
    position:absolute;
    left:3px;
    top:20px;
    z-index:100;
/*
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);

    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    */
}

.bgplayjs .bgplayTimelineControlCanvasSlider{
    border:0;
    margin:0;
    padding:0;
    position:absolute;
    cursor: w-resize;
    width:16px;
    height:16px;
}

.bgplayjs .bgplayTimelineControlCanvasSliderLeft{
    left:-8px;  /* width/2 */
    background:url(lib/img/bgplay/leftSlider.png) no-repeat;
}

.bgplayjs .bgplayTimelineControlCanvasSliderRight{
    right:-8px;  /* width/2 */
    background:url(lib/img/bgplay/rightSlider.png) no-repeat;
}

.bgplayjs .bgplayTimelineSelectionWaitIco{
    display:none;
    margin:auto;
}

.bgplayjs .bgplayTimelineSelectionCanvas{
    cursor:pointer;
}

.bgplayjs .bgplayTimelineSelectionDiv{
    overflow:hidden;
    margin:auto;
    position:relative;
}

.bgplayjs .bgplayTimelineSelectionWarpIco{
    display:none;
}

.bgplayjs .bgplayTimelineSelectionNext{
    margin-top:-45px;
    float:right;
    display:none;
}

.bgplayjs .bgplayTimelineSelectionPrev{
    margin-top:-45px;
    float:left;
    display:none;
}

.bgplayControlPrefixDiv{
    width:365px;
    margin:auto;
    text-align: left;
}

.bgplayjs .bgplayControlPrefixDelete{
    float:right;
    margin-top:4px;
    margin-left:2px;
}

.bgplayControlPrefixDiv input[type=text]{
    width:320px; /*320px for ipv6 prefix*/
    margin-bottom:5px;
    float:left;
}

.bgplayjs .bgplayControlPrefixMore{
    cursor:pointer;
    clear:both;
    float:right;
}

.bgplayjs .bgplayControllerDiv{
    position:absolute;
    width:170px;
    height:36px;
    right:0;
    z-index:5;
    top:47px;
    right:2px;
    background:#EDF6FA;
    border:1px solid #C0C0C0;
    border-right:0;
    border-radius: 20px 0px 0px 20px;
    /*box-shadow: 5px 5px 5px #888888;*/
}

.bgplayjs .bgplayControllerDiv:hover{
    background:#D2EEFA;
}

.bgplayjs .bgplayControlPanelDivFlagIco{
    position:absolute;
    right:15px;
    top:2px;
    cursor:pointer;
}

.bgplayjs .bgplayControlApplyButton{
    position:absolute;
    right:20px;
    bottom:10px;
    border:0;
    width:48px;
    height:48px;
    cursor:pointer;
    background:url(lib/img/bgplay/apply.png) no-repeat;
}

.bgplayjs .bgplayControlDiscardButton{
    position:absolute;
    right:78px;
    bottom:10px;
    border:0;
    width:48px;
    height:48px;
    cursor:pointer;
    background:url(lib/img/bgplay/discard.png) no-repeat;
}

.bgplayjs .bgplayControlPanelDivComplete{
    display:none;
    z-index:20;
}

.bgplayjs .bgplayControlPanelDivComplete > div{
    width:365px;
    clear:both;
    margin: auto auto 10px;
    text-align:left;
}

.bgplayjs .bgplayStarttimestampPicker{
    width:150px;
    margin-top:10px;
}

.bgplayjs .bgplayEndtimestampPicker{
    width:150px;
    margin-top:10px;
}

.bgplayjs .bgplayRrcsSelect{
    width:60px;
    height:25px;
    float:left;
}

.bgplayjs .bgplaySuppressReannounceDiv{
    position:absolute;
    left:5px;
    bottom:70px;
}

.bgplayjs .bgplayTimelineSelectionSliderLeft{
    z-index:2;
    left:0;
    position:absolute;
    display: none;
}

.bgplayjs .bgplayTimelineSelectionSliderRight{
    z-index:2;
    right:0;
    position:absolute;
    display: none;
}

.bgplayjs .bgplayGDBPlotDiv{
    display:none;
}

.bgplayjs .bgplayTimelineControlCanvasText{
    float:left;
    margin: 0 0 0 10px;
    height:15px;
    overflow:hidden;
    font-size:10px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    color:#000000;
}

.bgplayjs .bgplayTimelineControlCanvasDate{
    float:left;
    height:15px;
    overflow:hidden;
    color:#F70000;
    margin: 0 0 0 10px;
    font-size:10px;
    font-family: Verdana, sans-serif;
    font-weight: bold;
}

.bgplayjs .touchGraphEvents{
    position:absolute;
    z-index:100;
    top:0;
    left:0;
    border:0;
}

/* this two lines of code disable thead skype click to call plug-in */
.bgplayjs span.skype_pnh_container {display:none !important;}
.bgplayjs span.skype_pnh_print_container {display:inline !important;}

.bgplayjs .bgplayScreenshot{
    width:36px;
    height:35px;
    background: url('lib/img/bgplay/screenshot.png') no-repeat;
    position:absolute;
    right:40px;
    top:4px;
}

.bgplayjs .bgplayScreenshot:hover{
    background: url('lib/img/bgplay/screenshot_hover.png') no-repeat;
}

.bgplayjs .bgplayFullscreen{
    width:36px;
    height:35px;
    background: url('lib/img/bgplay/fullscreen.png') no-repeat;
    position:absolute;
    right:76px;
    top:4px;
}

.bgplayjs .bgplayFullscreen:hover{
    background: url('lib/img/bgplay/fullscreen_hover.png') no-repeat;
}

.bgplayjsInfoAlert, .bgplayjsSuccessAlert, .bgplayjsWarningAlert, .bgplayjsErrorAlert, .bgplayjsValidationAlert {
    z-index:100;
    border: 1px solid;
    width:400px;
    padding:15px 10px 15px 50px;
    background: no-repeat 10px center;
    font-size:12px;
    font-weight:bold;
    display:none;
    position:absolute;
    top: 30%;
    left: 50%;
    margin-left: -240px;
}

.bgplayjsInfoAlert {
    color: #00529B;
    background: #BDE5F8 url(lib/img/bgplay/infoAlert.png) no-repeat;
}

.bgplayjsSuccessAlert {
    color: #4F8A10;
    background: #DFF2BF url(lib/img/bgplay/successAlert.png) no-repeat;
}
.bgplayjsWarningAlert {
    color: #9F6000;
    background: #FEEFB3 url(lib/img/bgplay/attentionAlert.png) no-repeat;
}

.bgplayjsErrorAlert {
    color: #D8000C;
    background: #FFBABA url(lib/img/bgplay/errorAlert.png) no-repeat;
}

.bgplayjsValidationAlert {
    color: #D63301;
    background: #FFCCBA url(lib/img/bgplay/validationAlert.png) no-repeat;
}


.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.unselectable *{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.json_nodes textarea{
    width:95%;
    height:120px;
    margin:auto;
}

.json_nodes input[type=button]{
    width:55px;
    float:right;
}


/*
* I think is useless

.draggable{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
*/

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

/* Tiny Scrollbar */
div.bgplayControlPrefixDiv div.viewport { width: 345px; height: 120px; overflow: hidden; position: relative; }
div.bgplayControlPrefixDiv div.overview { width:345px; list-style: none; position: absolute; left: 0; top: 0; padding: 0; margin: 0; }
div.bgplayControlPrefixDiv .scrollbar{ background: transparent url(lib/img/bgplay/bg-scrollbar-track-y.png) no-repeat 0 0; position: relative; background-position: 0 0; float: right; width: 15px; }
div.bgplayControlPrefixDiv .track { background: transparent url(lib/img/bgplay/bg-scrollbar-trackend-y.png) no-repeat 0 100%; height: 100%; width:13px; position: relative; padding: 0 1px; }
div.bgplayControlPrefixDiv .thumb { background: transparent url(lib/img/bgplay/bg-scrollbar-thumb-y.png) no-repeat 50% 100%; height: 20px; width: 25px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: -5px; }
div.bgplayControlPrefixDiv .thumb .end { background: transparent url(lib/img/bgplay/bg-scrollbar-thumb-y.png) no-repeat 50% 0; overflow: hidden; height: 5px; width: 25px; }
div.bgplayControlPrefixDiv .disable { display: none; }
div.bgplayControlPrefixDiv .noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
